*.sdf
*.cfg
*.opensdf
*.suo
*.user
*.lnk
*.VC.db
*.opendb
*.idb
*.aps
*.pdb
*.lib

/bin/cache
/bin/data
/bin/*
/other
/paks/out
/project/ipch
/project/Output

/tools/converter/Debug
/tools/converter/Release
/tools/paker/Debug
/tools/paker/Release
/tools/prebuild/Debug
/tools/prebuild/Release
/tools/pak/Debug
/tools/pak/Release
/tools/extractor/Debug
/tools/extractor/Release
/tools/text_comparer/Debug
/tools/text_comparer/Release

/external/lib
/external/Bullet/build/vs2015/Output
/external/RakNet/Output
/external/zlib/contrib/vstudio/vc11/Output
