*.sdf
*.cfg
*.opensdf
*.suo
*.user
*.lnk

/bin/cache
/bin/data
/bin/*
/build/Debug
/build/Release
/build/ipch
/build/Output
/other
/paks/out

/tools/converter/Debug
/tools/converter/Release
/tools/paker/Debug
/tools/paker/Release
/tools/prebuild/Debug
/tools/prebuild/Release
/tools/pak/Debug
/tools/pak/Release
/tools/extractor/Debug
/tools/extractor/Release
/external/lib
/external/zlib/contrib/vstudio/vc11/x86
