*.aps
*.user

.vs
.vscode
/bin
/lib
/other
/output
/paks/out
/paks/pdb

/tools/extractor/Debug
/tools/extractor/Release
/tools/paker/bin
/tools/paker/output
/tools/text_comparer/Debug
/tools/text_comparer/Release
