#include <windows.h>
#include "Version.h"

//------------------------------------
// Ikona
Icon ICON "resource/icon.ico"

//------------------------------------
// Informacje o wersji
VS_VERSION_INFO VERSIONINFO
FILEVERSION		VERSION_PACKED
PRODUCTVERSION 	VERSION_PACKED
FILEFLAGSMASK  	VS_FFI_FILEFLAGSMASK
FILEFLAGS      	RELEASE_TYPE
FILEOS         	VOS__WINDOWS32
FILETYPE       	VFT_APP
FILESUBTYPE    	VFT2_UNKNOWN
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904E4"
		BEGIN
			VALUE "FileVersion", VERSION_STR
			VALUE "ProductVersion", VERSION_STR
			VALUE "Comments", "http://carpg.pl"
			VALUE "FileDescription", "Role Playing Simulation"
			VALUE "LegalCopyright", "Devmode(2013,2016) Tomashu & Leinnan"
#ifdef _DEBUG
			VALUE "OriginalFilename", "carpg_d.exe"
#else
			VALUE "OriginalFilename", "carpg.exe"
#endif
			VALUE "ProductName", "CaRpg"
#ifdef _DEBUG
			VALUE "PrivateBuild", "Debug version"
#endif
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x0409, 1252, 0x0415, 1252
	END
END
